//- .menu
.menu__panel
    h3.menu__title Info
    ul.menu__list
        li
            a(href="https://robertoalx.github.io/quick-blog") Home
        li
            a(href="https://robertoalx.github.io/quick-blog/about") About
        li
            a(href="https://robertoalx.github.io/quick-blog/contact") Contact
.menu__panel
    h3.menu__title Categories
    ul.menu__list
        li
            a(href="https://robertoalx.github.io/quick-blog/html") HTML5
        li
            a(href="https://robertoalx.github.io/quick-blog/css") CSS3