extends _component/layout/base

block config
    -
        var title= 'About Quick Blog'
        var description= 'Quick Blog is one of the quickest and fastest tool for writing blogs in the worlds'

block content
    h1=title
    p=description
