extends _component/layout/base

block config
    -
        var title= ' Contact Quick Blog';
        var description= 'Contact me, the creator, Robert Alexandru'

block content
    .content
        h2 Contact Information
        p You can find me on those social media platforms:
        ul
            li
                a(href='Click to go to Facebook') Facebook
            li
                a(href='Click to go to Twitter') Twitter
            li
                a(href='Click to go to Linkedin') Linkedin
            li
                a(href='Click to go to Youtube') Youtube
            li
                a(href='Click to go to StackOverFlow') StackOverFlow
        figure.image-container
            img.image(src="/asset/image/november.jpg")
            strong Note:
            span Leaves fall down in November
