extends _component/layout/base

block config
    -
        var title = 'Welcome to Quick Blog'
        var description = 'Using super Quick Blog is easy and you can get 100/100 score on Google pagespeed insights'
block content
    .welcome
        h1=title
        p.welcome__description=description
        a.scroll-down(href="#continue") 
            span click to continue reading or scroll down
            span.continue-arrow
    .content
        #continue
        h2 Firstly, let's write some content
        p 
            |The sources of Quick Blog can be found on Github at 
            | #{" "}
            a(href="https://github.com/robertoalx/quick-blog") Quick Blog
        blockquote.blockquote
            .blockquote__body
                p You don't have to be good to start, you have to start to be good.
            .blockquoate-footer
                a(href="https://github.com/robertoalx", target="_blank") Robert Valentin
        p.lead Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
        p
            small Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus aucotr fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligua, eget lacinia odio sem nec elit.
        a.top(href="#Top") 
            span Top
            span.top-arrow
